NODE_ENV=production
PORT=3000
MONGO_URI=mongodb+srv://rodrigoapcampos92_db_user:SUA_SENHA_REAL@cluster0.bpinogl.mongodb.net/futpass?retryWrites=true&w=majority
USE_SECURE_COOKIES=true
CORS_ALLOWED_ORIGIN=